[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Idesk Icon Manager
Categories=Application;System;Utility;Core;
Exec=startidesk
Icon=idesk
StartupNotify=false
Type=Application
Terminal=false
GenericName=Idesk Icon Manager
Comment=Desktop Icon Manager for minimalistic WMs
